{%spaceless%}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
  	<!--[if lt IE 9]>
  		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->

  	<!-- Mobile Specific Metas
    ================================================== -->
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

  	<!-- CSS
    ================================================== -->
  	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
  	<link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css">
  	<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">

  	<!-- Favicons
  	================================================== -->
  	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  	<link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72.png" />
  	<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114.png" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
    {% block extra_head_base %}
        {% block extra_head %}
        <meta name="description" content="">
    	<meta name="author" content="">
    	{% endblock %}
    {% endblock extra_head_base %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {%endspaceless%}{% block body_outer %}
	<div id="header">
	    <div class="container">
		{% block site_header %}&nbsp;{% endblock %}
	    </div>
    </div>
	<div class="container">
	<div id="sidebar" class="three columns sidebar">
		{% block sidebar %}&nbsp;{% endblock %}
	</div>
    <div id="main" class="twelve columns offset-by-one">
		{% block content_nav %}{% endblock %}
		{% block search %}{% endblock %}
        {% block body %}{% endblock %}
    </div> {# main #}
	<div id="footer">{% block footer %}{% endblock %}</div>
	</div> {# container #}
    {% endblock body_outer %}{% spaceless %}
    <script src="{{ STATIC_URL }}js/hyphenator.js" type="text/javascript"></script>
		<!-- JS
    	================================================== -->
    	<script src="{{ STATIC_URL }}/js/app.js"></script>

    <!-- End Document
    ================================================== -->
    
    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
    {% load analytics %}{% analytics_async %}
</body>
</html>
{%endspaceless%}