{% extends "site_base.html" %}
{% block head_title %}Home{% endblock %}
{# {% block extra_head %} #}
{#     <link rel="alternate" href="{% url rss_feed %}" type="application/rss+xml" title="RSS 2.0" charset="utf-8"> #}
{# {% endblock %} #}
{% block body %}
	<div class="entrylist">
		<h1>Coding Patterns in&nbsp;Django</h1>
		<h2>Latest Changes</h2>
		{% for item in latest_changes %}
		<div class="item">
		<div class="date">
		    <span class="month">{{ item.added|date:"M" }}</span>
		    <span class="day">{{ item.added|date:"d" }}</span>
		    <span class="year">{{ item.added|date:"Y" }}</span>
		</div>
		  <h3><a href="{{ item.get_absolute_url }}">{{ item.description }}</a></h3>
		  <p>{{ item.note }}</p>
		</div>
		{% endfor %}
	</div>
{% endblock %}
