{% extends "site_base.html" %}


{% block head_title %}Home{% endblock %}
{% block extra_head %}
	{# <link rel="alternate" href="{% url rss_feed %}" type="application/rss+xml" title="RSS 2.0" charset="utf-8"> #}
{% endblock %}
{% block body %}
	<div class="entrylist">
		<h1>Coding Patterns in Django</h1>
		<h2>Banned from Conferences!</h2>
		<p>Yes! Some of these coding patterns are <em>so</em> controversial 
			that the organizers of a well-known Django conference would not
			let them be presented!</p>
		<h2>May not be suitable for young developers!</h2>
		<p>Some people believe that some of the patterns held within may corrupt
			or confuse young or inexperienced developers. <strong>Beware.</strong>
			We are not responsible for any ill mental effects resulting from 
			reading these patterns.</p>
		<p><strong>Not responsible for:</strong>
			<ul>
				<li>Anal leakage</li>
				<li>Temporary insanity</li>
				<li>Synesthesia</li>
				<li>Purple or multi-colored discharge</li>
				<li>Delusions of grandeur</li>
				<li>Alien abduction and/or probing</li>
				<li>Arachibutyrophobia</li>
			</ul>
		</p>
		<h2>About this site</h2>
		
	</div>
{% endblock %}
{% block extra_body %}

{% endblock %}