{% extends "site_base.html" %}


{% block head_title %}Home{% endblock %}
{% block extra_head %}
	{# <link rel="alternate" href="{% url rss_feed %}" type="application/rss+xml" title="RSS 2.0" charset="utf-8"> #}
{% endblock %}
{% block body %}
	<div class="entrylist">
		<h1>Coding Patterns in Django</h1>
		<h2>About this site</h2>
		<p>I created Django Patterns.com in response to a talk proposal rejection 
		from DjangoCon.us. Although I was not privy to the exact discussion, 
		reviewers and organizers felt a <a href="http://blip.tv/pycon-us-videos-2009-2010-2011/pycon-2011-pluggable-django-patterns-4900929" title="Pluggable Django Patterns">previous talk I had 
		presented at PyCon in 2011</a> presented &ldquo;non-standard and 
		controversial practices were framed as the normal and accepted ways of 
		doing things&rdquo;. Obviously this &ldquo;raised concerns of misleading 
		less experienced developers&rdquo;.</p>
		<p>This site&rsquo;s goals are simply:
		    <ul class="simple">
		        <li>Easily look up a pattern for doing something</li>
		        <li>Get a clear explanation of how, when, why to use it</li>
		        <li>Provide for feedback and open discussion of the pattern by the community</li>
		        <li>Allow anyone to contribute patterns</li>
		    </ul>
		</p>
	</div>
{% endblock %}
{% block extra_body %}

{% endblock %}