{% extends "base.html" %}
{% load i18n %}
{% load analytics %}
{% block extra_head %}
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block site_header %}
<img src="{{ STATIC_URL }}img/djangopatterns-h.png" width="542" height="80" alt="DjangoPatterns.com">
{% endblock %}
{% block sidebar %}
	<div id="menu_container">
	<ul id="sbmenu">
		<li><a href="/" title="Home">Home</a></li>
		<li><a href="/patterns/">Patterns</a></li>
	</ul>
	</div>
{% endblock sidebar %}
{% block footer %}
<div class="legal sixteen columns">
    <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" />
        </a>
        This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> 
        by <a xmlns:cc="http://creativecommons.org/ns#" href="http://djangopatterns.com/" property="cc:attributionName" rel="cc:attributionURL">djangopatterns.com</a> 
        is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.
        Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://{{ request.get_host }}{{ request.path}}" rel="dct:source">{{ request.get_host }}{{ request.path}}</a>.
    </p>
</div>
{% endblock footer %}
{% block extra_body_base %}
{% analytics_async %}
{% endblock extra_body_base %}
