--extra-index-url=http://opensource.washingtontimes.com/simple/
IPTCInfo
django-stories==0.6.3
hachoir-metadata
django-staff==0.5.1
pytidylib
django-memcached==0.1.2
django-robots==0.8.0
hachoir-parser
PIL
django-hiermenu==0.2.1
viewpoint==0.8.5
BeautifulSoup
django-native-tags==0.5.2
django-reversion==1.3.1
django-admin-tools==0.4.0
hachoir-core
django-news-sitemaps==0.1.6
django-registration==0.8-alpha-1
python-memcached==1.45
python-memcached==1.47
django-kamasutra==0.2.3
simplejson==2.0.9
django-massmedia==0.8.3
django-mptt==0.4.2
django-categories==0.6
versionedcache==0.1.0dev
django-tinymce==1.5.1beta1
google_analytics==0.2
django-tagging==0.3.1
