# These are your project's requirements and you should change them
# to meet any customizations you wish to implement

django
calloway

-r calloway_reqs.txt
django-debug-toolbar==0.8.5
django-staticfiles==1.0.1
django-disqus==0.4.1
